h1{
	font-family: Monospace;
	font-size: 40px;
	color: #21afde;
}
span{
	font-size: 30px;
	margin: 15px;
	text-align: center;
}
h4{
	font-size: 25px;
	margin: 50px 0 10px 0;
	text-transform: uppercase;
	color: #318422;
	text-shadow: 2px 2px 1px black;
}